.hero{
    overflow:hidden;
    color:#fff;
    height:85vh;

    background-size:cover;
    background-repeat: no-repeat;
    background-position:center center;
    position: relative;
    margin-top: 9rem;
    
    &--blog{
        height:50vh;
        background:no-repeat center center fixed;
        margin-top: 0;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        @include respond(phone-land){
            background-attachment: scroll;
        }
    }
    
    &__content{
        position: absolute;
        top:50%;
        left:60%;
        transform: translate(-50%,-50%);
        text-align: left;
        width: 100%;
    }
    
    &__content--blog{
        left:50%;
    }
    
    &__btn-container{
        padding:3rem 0;
        display: block;
    }
    
    &__title{
        font-size: 8.5rem;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        max-width: 75%;
        margin-bottom: 3rem;
        
        @include respond(phone-land){
            font-size: 7rem;
        }
        
        @include respond(phone){
            max-width: 95%;
            font-size: 10vw;
        }
    }
    
    &__title--blog{
        text-align: center;
        max-width: 100%;
        font-size: 6.5rem;

        @include respond(phone){
            font-size: 5.5rem;
        }
    }

    &__blog-subtitle{
        text-align: center;
        font-size: 2.2rem;
        margin:0 auto;
        max-width: 50%;

        @include respond(phone){
            max-width: 75%;
        }
    }
    
    &__text{
        font-size: 2.2rem;
        max-width: 30%;
        line-height: 165%;

        @include respond(phone-land){
            max-width: 55%;
            font-size: 1.8rem;
        }    
    }
}